.HA_VERSION
.cache
.cloud
.ha_run.lock
.storage
*.bak
*.db*
*.log*
**/*.swp
**/__pycache__
**/trash
Abode
custom_components
deps
esphome/archive
image
**/secrets.yaml
tts
zigbee2mqtt/coordinator_backup.json
zigbee2mqtt/state.json
