substitutions:
  name: btproxy2
  friendly_name: BT Proxy V2
  board: esp32-s3-devkitc-1
  variant: esp32s3
  connections: 5

packages:
  esphome.bluetooth-proxy: github://esphome/bluetooth-proxies/esp32-generic/esp32-generic.yaml@main

esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}

esp32:
  board: ${board}
  variant: ${variant}
  framework:
    type: esp-idf
  
ota:
  - platform: esphome
    password: !secret ota_password

# Enable logging
logger:
#  level: DEBUG
  level: INFO  # Don't use DEBUG in production
  logs:
    # Reduce verbosity for components that might log sensitive data
    wifi: WARN
    api: WARN

api:
  encryption:
    key: !secret api_key

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "BTProxy2 Fallback Hotspot"
    password: !secret wifi_ap_password

esp32_ble:
  max_connections: ${connections}

esp32_ble_tracker:
  scan_parameters:
    #interval: 1100ms
    #window: 1100ms
    active: true

bluetooth_proxy:
  active: true
  connection_slots: ${connections}
